* {
	font-family: Comic Neue;
	background-color: #a39274;
}

.weblink {
	text-decoration: underline;
}

.div {
	text-align: center;	
	padding: 20% 0;

  
}

.h1 {
	text-decoration: underline;
	color: #252523;
	font-size: 200%
}

a {
	color: #dfd8c8;
}

.header1 {
	margin-left: 1%;
	margin-top: 1%;
}

.cookies {
	border-style: solid;
	position: fixed;
	bottom: 0;
	width: 97%;
	margin-left: 1%;
	margin-right: 2%;
	font-weight: bold;
	border-color: #dfd8c8;
	border-bottom-style: hidden;


}

.button1 {
	margin-left: 10%;
}

.button2 {
	margin-left: 10%;;
}

.table {
	width: 25%;
	margin-left: 40%;
	margin-right: 40%;
}
















