* {
	font-family: Comic Neue
}

.weblink {
	text-decoration: underline;
}

.div {
  width: 50%;
  height: 100px;
  margin: 0 auto;
  margin-top: 20%
  
}

.h1 {
	text-decoration: underline;
	color: #252523
}

a {
	color: #dfd8c8;
}